<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load socialaccount %}
    <link rel="icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'css/404.css' %}">
    <title>Page Not Found!</title>
</head>
<body>
    <header>
        <h1>BMX IQ Race - Page Not Found!</h1>
    </header>
    <div class="video-background">
        <video autoplay muted loop id="myVideo" speed="0.2" style=" filter: brightness(0.56);">
            <source src="{% static 'video/bg.webm'%}" type="video/webm">
        </video>
    </div>
    <main>
        <div class="content">
            <div class="pro"></div>
            <h1>Page Not Found</h1>
            <p>The requested page could not be found.</p>
        </div>
        <div class="back-button" title="Back To Home" onclick="handleButtonClick(this.title)"></div>
    </main>
    <footer>
        <p class="version">Version: 1.1.0</p>
    </footer>
    <script src="{%static 'js/404.js'%}"></script>
</body>
</html>
