<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>BMX IQ Race - Global Chat</title>
    <link rel="icon" href="{%static 'image\favicon.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'css/gchat.css'%}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            const currentUsername = "{{ request.user.username }}";
            const chatInput = document.getElementById('chatInput');
            const sendMsgButton = document.getElementById('sendMsgButton'); 
            function scrollToBottom() {
                const msgbox = document.querySelector('.msgbox');
                msgbox.scrollTop = msgbox.scrollHeight;
            } 
            chatInput.addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                sendmsg();
                scrollToBottom(); 
                event.preventDefault();
                }
            });
            sendMsgButton.addEventListener('click', function() {
                sendmsg(); 
                scrollToBottom();
            });

            // Function to handle sending messages
            function sendmsg() {
                const messageText = chatInput.textContent.trim();
                if (messageText === '') {
                return;
                }

                socket.send(JSON.stringify({ message: messageText }));

                chatInput.textContent = '';

                const newMessage = document.createElement('div');
                newMessage.textContent = messageText;
                newMessage.classList.add('sender-message');

                const usernameElement = document.createElement('div');
                usernameElement.textContent = 'you';
                usernameElement.classList.add('yusername');

                const messageContainer = document.createElement('div');
                messageContainer.appendChild(usernameElement);
                messageContainer.appendChild(newMessage);
                messageContainer.classList.add('mine-container');

                const msgbox = document.querySelector('.msgbox');
                msgbox.appendChild(messageContainer);
            }
            socket.onmessage = function(event) {
                const data = JSON.parse(event.data);
                const messageType = data.type;
                if (messageType === 'chat_history') {
                handleChatHistory(data, currentUsername);
                scrollToBottom();
                } else {
                const username = data.username;
                const message = data.message;

                const usernameElement = document.createElement('div');
                usernameElement.textContent = username;
                usernameElement.classList.add('username');
                
                const messageElement = document.createElement('div');
                messageElement.textContent = message;
                messageElement.classList.add('message');
                
                const messageContainer = document.createElement('div');
                messageContainer.appendChild(usernameElement);
                messageContainer.appendChild(messageElement);
                messageContainer.classList.add('other-container');

                const msgbox = document.querySelector('.msgbox');
                msgbox.appendChild(messageContainer);
                scrollToBottom();
                }
            };
            });


            function handleChatHistory(data, currentUsername) {
            const username = data.username;
            const message = data.message;
            const usernameElement = document.createElement('div');
            const messageElement = document.createElement('div');
            messageElement.textContent = message;
            const messageContainer = document.createElement('div');
            messageContainer.appendChild(usernameElement);
            messageContainer.appendChild(messageElement);
            if (username === currentUsername) {
                usernameElement.textContent = 'you';
                usernameElement.classList.add('yusername'); 
                messageElement.classList.add('sender-message');
                messageContainer.classList.add('mine-container');
            } else {
                usernameElement.classList.add('username');
                messageElement.classList.add('message');
                usernameElement.textContent = username;
                messageContainer.classList.add('other-container');
            }

            const msgbox = document.querySelector('.msgbox');
            msgbox.appendChild(messageContainer);
            }


            let username = "{{ request.user.username }}";
            function getQueryParam(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
            }
            let url = `ws://${window.location.host}/ws/globalchat/${username}/`;
            let socket = new WebSocket(url);
            socket.onopen = function(event) {
                console.log('Connected to GlobalChat',username);
            };
            function handleButtonClick(buttonTitle) {
            switch (buttonTitle) {
            case "Back To Home":
                window.location.href = '/';
                break;
            }
            }

    </script>    
</head>
<body>   
    <header>
        <h1>BMX IQ Race - Global Chat</h1>
    </header>
    <video autoplay muted loop id="myVideo" speed="0.2" style="filter: brightness(0.56);">
        <source src="{% static 'video/bg.webm' %}" type="video/webm">
    </video>
    <main>
        <div class="chatarea">
            <div class="msgbox" id="msgBox"></div>
            <div class="inputbox">
                <div class="chat-input" contenteditable="true" placeholder="Type your message here..." id="chatInput"></div>
            </div>
            <div class="sendmsg" id="sendMsgButton"></div>
        </div>
    <div class="back-button" title="Back To Home" onclick="handleButtonClick(this.title)"></div>
    </main>
    <footer>
        <p class="version">Version: 1.1.0</p>
    </footer>
</body>
</html>
