<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>BMX IQ Race - Suggestions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{%static 'image\favicon.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'css/suggest.css'%}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>   
    <header>
        <h1>BMX IQ Race - Suggestions</h1>
    </header>
    <video autoplay muted loop id="myVideo" speed="0.2" style="filter: brightness(0.56);">
        <source src="{% static 'video/bg.webm' %}" type="video/webm">
    </video>
    <main>
        <div class="buttons">
            <div class="change-button" title="Suggest Changes" onclick="handleButtonClick(this.title)"></div>
            <div class="quiz-button" title="Submit Quiz" onclick="handleButtonClick(this.title)"></div>
            <div class="report-button" title="Report Bugs" onclick="handleButtonClick(this.title)"></div>
            <div class="back-button" title="Back To Settings" onclick="handleButtonClick(this.title)"></div>
        </div>
    </main>
    <footer>
        <p class="version">Version: 1.1.0</p>
    </footer>
    <script src="{%static 'js/suggest.js'%}"></script>
</body>
</html>
