@import url(https://db.onlinewebfonts.com/c/1d65b5646a9a805c62b037be6dd3a0a7?family=Cubano);
body {
    margin: 0;
    padding: 0;
    font-family: "Cubano";
    letter-spacing: 3px;
    overflow: auto;
    background-color: #000000;
}
.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


header {
    background-color: #33333370;
    color: #fff;
    padding: 20px;
    backdrop-filter: blur(2px);
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
}
.content h1 {
    font-size: 40px;
}
.content p {
    font-size: 20px;
}

.pro {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    background: url('/static/gif/unauth.gif') center center no-repeat;
    background-size: cover;
    border-radius: 10%;
    transition: transform 0.3s;
  }
.back-button {
    display: inline-block;
    position: relative;
    width: 65px;
    height: 65px;
    background: url('/static/gif/back.png') center center no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin-left: 0%;
    margin-top: 30%;
    transition: transform 0.3s;
    box-shadow: 0 0 12px rgb(0, 64, 255);
  }
  
  .back-button:hover {
    width: 65px;
    height: 65px;
    transform: scale(0.75);
  }
  
  .back-button:active {
    transform: scale(0.95);
  }

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
}

.version {
    font-size: 24px;
    color: white;
    text-align: center;
    backdrop-filter: blur(2px);
    background-color: #3333336f;
}